{% extends 'base.html.twig' %}

{% block title %}À Propos de Notre Plateforme{% endblock %}
{% block description %}
    {% if about %}
        {{ about.description|truncate(250, '...')|raw }}
    {% endif %}
{% endblock %}

{% block body %}

    {% if about %}
        <div class="container">
            <h1 class="pt-5">{{ about.name }}</h1>


            <p class="mt-5">
                {{ about.description|raw }}
            </p>
        </div>
    {% else %}
        <p class="alert alert-success">Veuillez configurer la page 'À propos' à partir de l'espace d'administration.</p>
    {% endif %}

{% endblock %}
