{% extends 'admin.html.twig' %}

{% block title %}Nouveau pays{% endblock %}

{% block body %}

    <div class="py-2 text-center">
        <div class="d-flex">
            <div>
                <a href="{{ path('admin_country_index') }}" class="btn btn-dark">Retour</a>
            </div>
            <div class="pl-2">
                {{ include('admin/country/_delete_form.html.twig') }}
            </div>
        </div>
    </div>

    <div class="container pt-5">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">Modification {{ country.name }}</div>
                    <div class="card-body">
                        {{ include('admin/country/_form.html.twig', {'button_label': 'Envoyer'}) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
