<ul class="social-icon">
    {% for contact in contacts %}
        <li class="social-icon-item">
            <a href="{{ contact.link }}" target="_blank" title="{{ contact.label }}" class="">
                <i class="{{ contact.classe }} social-icon-link text-light"></i>
            </a>
        </li>
    {% endfor %}
</ul>
