.pagination .page-item:first-child {
    margin-right: 27px;
}
.pagination .page-item:last-child {
    margin-right: 27px;
}

.pagination .page-item .page-link {
    width: 68px;
    height: 45px;
}

.invalid-feedback .badge.form-error-icon {
    color: #a33737;
}

.ml-2 {
    margin-left: .5rem!important;
}

.ml-4 {
    margin-left: 1.5rem!important;
}

.mr-2 {
    margin-right: .5rem!important;
}

.pl-3 {
    padding-left: 2rem !important;
}

.site-header {
    background-image: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
     padding-top: 0;
     padding-bottom: 0;
}

.section-bg {
    background: #d4d6d7;
}

.owl-carousel .owl-item img.js-review-circle {
    width: 50px;
}
.osahan-chat-list a{
    color: #343a40!important;
}
.osahan-chat-list .bg-blue .last-message span{
    color: #ededed!important;
}


.bloc-masquer {
    visibility: hidden !important;
    height: 1px !important;
}

.ml-auto, .mx-auto {
    margin-left: auto !important;
}

.bg-light {
    background-color: #e2e4e7 !important;
}

.message-form.bg-light {
    background-color: #e2e4e7 !important;
}
.message-form.border-top {
    border-top: 1px solid #bbc6d1!important;
}

.btn-light {
    background-color: #e5f7f0;
    border-color: #d8f7eb;
    color: #080679
}

.osahan-post-header:hover,
.bg-blue {
    background: #198754 !important;
    border-color: #198754 !important;
    color: #fff !important;
}

.border-blue {
    border: 1px solid #080679 !important;
}

.bg-blue a, .bg-blue span,
.osahan-post-header:hover a,
.osahan-post-header:hover span,
.osahan-post-header:hover small,
.bg-blue a:hover,
.bg-blue small:hover,
.bg-blue span:hover {
    color: #fff !important;
}

.bg-not-seen  {
    background-color: #547868;
    border-color: #252e2a !important;
}

.bg-lightgray {
    background: #f0f5f7;
}

.message-box {
    border-radius: 15px !important;
    padding-top: 15px !important;
    padding-bottom: 0 !important;
}

.cs-messagerie-label {
    display: none;
}

.cs-notification-message {
    font-weight: 700;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #3e3a3a !important;
}

.select2-container .select2-selection--single {
    height: 41px !important;
}

sup.cs-notification-message {
    top: -.1em;
}

.js-toggle-show .form-control {
    height: auto !important;
}

#image-fields-list > div {
    list-style: none;
    padding: 12px;
    background-color: #e4e5e7;
    margin-top: 5px;
    margin-bottom: 7px;
}

.homepage-cs-tag-ad {
    z-index: 1000;
    margin-top: -32px;
    padding-left: 12px;
    padding-right: 12px;
}

.btn-immo {
    background-color: var(--whatsapp-color) !important;
    color: white !important;
}

.cs-cursor {
    cursor: pointer;
}


.cs-position-relative {
    position: relative;
}

.cs-muted-bgcolor {
    background-color: #6c757d !important;
}

.cs-echarpe {
    z-index: 2000;
    position: absolute;

    padding: 10px; /* Marge intérieure de l'écharpe */
    background-color: #00a05d; /* Couleur caractéristique des écharpes de maire */
    color: white;
    border-radius: 10px;
    transform-origin: top left; /* Changer l'origine de la transformation */
    transform: rotate(6deg); /* Rotation de l'écharpe */
    font-weight: 700;
}


.btn-immo.badge {
    font-size: 13px !important;
}

@media (max-width: 835px) {
    .cs-messagerie {
        margin-left: 1rem !important;
    }
    .cs-messagerie-label {
        display: block;
    }
}
