<footer class="site-footer section-padding">
    <div class="container">
        <div class="row">

            <div class="col-lg-3 col-md-5 col-12 mb-3">
                <h3><a href="#" class="custom-link mb-1">Immo Location</a></h3>

                <p class="text-white">Vous en avez assez de chercher un appartement ou une maison qui correspond à vos critères et à votre budget ? ImmoLocation est là pour vous aider.</p>
            </div>

            <div class="col-lg-3 col-md-3 col-12 ms-lg-auto mb-3">
                <h3 class="text-white mb-3">Localisation</h3>

                <p class="text-white mt-2">
                    <i class="bi-geo-alt"></i>
                    Casablanca, Maroc
                </p>
            </div>

            <div class="col-lg-3 col-md-4 col-12 mb-3">
                <h3 class="text-white mb-3">Contact Info</h3>

                <p class="text-white mb-1">
                    <i class="bi-telephone me-1"></i>

                    <a href="{{ path('contact') }}" class="text-white">
                        Contactez-nous
                    </a>
                </p>
            </div>

            <div class="col-lg-6 col-md-7 copyright-text-wrap col-12 d-flex flex-wrap align-items-center mt-4 ms-auto">
                <p class="copyright-text mb-0 me-4">Copyright © Immo Location {{ 'now'|date('Y') }}</p>

                {{ render(controller('App\\Controller\\FooterController::index')) }}
            </div>

        </div>
    </div>
</footer>
