<form method="post" action="{{ path('admin_linking_delete', {'id': linking.id}) }}" onsubmit="return confirm('Etes vous sûr de vouloir supprimé ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ linking.id) }}">
    <button class="btn btn-danger">Supprimé</button>
</form>
