{% extends 'admin.html.twig' %}

{% block title %}Nouveau contact{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        var $sport = $('#linking_scope');
        $sport.change(function() {

            $('.js-loader').addClass('spinner-border')

            var $form = $(this).closest('form');

            var data = {};
            data[$sport.attr('name')] = $sport.val();

            if ($sport.val() == 'flux_rss') {
                var elementToShow = 'link';
                var elementToHidden = 'phone';
            } else {
                var elementToShow = 'phone';
                var elementToHidden = 'link';
            }

            $.ajax({
                url : $form.attr('action'),
                type: $form.attr('method'),
                data : data,
                success: function(html) {

                    $('#linking_' + elementToShow).replaceWith(
                        $(html).find('#linking_' + elementToShow)
                    );
                    $('#linking_' + elementToHidden).prop('disabled', true);
                    $('#linking_' + elementToHidden).prop('value', null);

                    setTimeout(function () {
                        $('.js-loader').removeClass('spinner-border')
                    }, 500);
                }
            });
        });
    </script>
{% endblock %}

{% block body %}

    <div class="py-2 pl-2">
        <a href="{{ path('admin_linking_index') }}" class="btn btn-dark">Retour</a>
    </div>
    <div class="container pt-5">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">Nouveau contact</div>
                    <div class="card-body">
                        {{ include('admin/linking/_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
