<form method="post" action="{{ path('admin_district_delete', {'id': district.id}) }}" onsubmit="return confirm('Etes vous sûr de vouloir supprimé ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ district.id) }}">
    <button class="btn btn-danger">Supprimé</button>
</form>
